[submodule "PYNQ"]
	path = PYNQ
	url = git@github.com:black-parrot-hdk/PYNQ
[submodule "Ultra96-PYNQ"]
	path = Ultra96-PYNQ
	url = git@github.com:black-parrot-hdk/Ultra96-PYNQ
[submodule "ZC706-PYNQ"]
	path = ZC706-PYNQ
	url = git@github.com:black-parrot-hdk/ZC706-PYNQ.git
